* {
  box-sizing: border-box;
  font-family: "Abel", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.mainContainer {
  padding: 0 30px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  padding: 20px 0 40px 0;
  margin: 0 auto;
}

.dataContainer img {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 255, 0.2);
  border-radius: 5px;
}

.dataContainer h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
}

@media only screen and (max-width: 600px) {
  .dataContainer h1 {
    font-size: 25px;
    font-weight: 600;
  }
}
@media only screen and (max-width: 450px) {
  .dataContainer h1 {
    font-size: 18px;
  }
}

.connectBold {
  color: red;
  font-weight: 800;
  padding-top: 5px;
}

.rules {
  line-height: 1.9;
  font-size: 13px;
  text-align: left;
  color: #69636f;
  margin: 0 auto;
}
.rulesLink {
  color: #69636f;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  background-color: lightgray;
}

.address {
  overflow-wrap: break-word;
  padding-bottom: 5px;
  padding-top: 5px;
}
.msgTime {
  padding-bottom: 7px;
}

.favFood {
  color: #6a1b9a;
  font-weight: bold;
  margin-bottom: 20px;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.spinnerMessage {
  font-family: cursive;
  color: purple;
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
}

.form {
  text-align: center;
  color: gray;
  margin-top: 15px;
}

.formInput {
  width: 90%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  text-indent: 5px;
}
